.layout {
    width: 100%;
    height: 100vh;
    display: flex;
}


.sidebarwrapper {
    width: 260px;
    height: 100%;
}


.mainwrapper {
    width: calc(100% - 260px);
    height: 100%;
    background-color: rgba(102, 51, 153, 0.543);
}